/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
   text-align: center;
 }

 nav li {
   display: inline-block;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 50px;
   padding-right: 50px;
 }

 nav a {
   color: #444;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
 }

 nav a:hover{
   color: #000
 }
 
 nav {
   float: center;
 }

 header {
   background: #55d6aa;
 }

 header::after {
  content: '';
  display: table;
  clear: both;
 }

 .container {
   width: 1000px;
   margin: auto;
   margin-top: 40px;
 }

 .form-container {
   width: 500px;
 }