<header>
  <div class='container'>
    <nav>
      <ul>
        <li><%= link_to 'Главная', '/'%></li>
        <li><%= link_to 'Каталог', catalog_path %></li>
        <li><%= link_to 'Доставка и оплата', '/'%></li>
        <li><%= link_to 'О магазине', '/'%></li>
      </ul>
    </nav>
  </div>
</header>
